<footer class="block block--dark footer">
  <section class="grid footer__sections">
    <div class="collapsible">
      <header class="collapsible__header block__header">
        <h2 class="collapsible__heading block__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header block__header">
        <h2 class="collapsible__heading block__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header block__header">
        <h2 class="collapsible__heading block__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header block__header">
        <h2 class="collapsible__heading block__heading">DOMAIN</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__brand">
      <img class="footer__logo" src="./images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2022 Mosh Hamedani</p>
    </div>
  </section>
</footer>
